.navbar{
    width: 100%;
}

header{
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
}

.nav-links{
    float: right;
}

.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links-entry{
    display: inline-flex;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
}

.nav-icon{
    float: left;
    width: 2em;
    height: 2em;
}