<header [ngClass]="{'dark-mode-header': temaOscuro, 'light-mode-header': !temaOscuro }">
  <div class="navbar">
    <nav class="nav-links">
      <ul class="nav-ul">
        <li class="nav-li">
          <img src="../assets/newspaper.png" class="nav-logo">
        </li>
        <li class="nav-li">
          <a routerLink="/loginForm" routerLinkActive="active" class="nav-links-entry">Login</a>
        </li>
        <li class="nav-li">
          <a routerLink="/entradas" class="nav-links-entry">Blog</a>
        </li>
        <li class="nav-li">
          <img src={{rutaImagen}} class="nav-icon" (click)="cambiarTema()">
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>