*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
}

header{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2.95em;
}

header::after{
    clear: both;
}

.nav-li{
    float: left;
    font-family: Verdana;
    font-weight: bold;
}

.nav-li a{
    color: currentColor;
    text-decoration: none;
    display: inline-block;
    display: block;
    padding: 14px 16px;
}

.nav-li a:hover{
    backdrop-filter: brightness(75%);   
}

.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-li:last-child{
    float: right;
}

.nav-logo{
    margin-top: 0.35em;    
    width: 2em;
    height: 2em;
    margin-right: 2em;
    margin-left: 2em;
}

.nav-icon{
    float:right;
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
}