<header>
  <div class="navbar">
    <img src="../assets/newspaper.png" class="nav-icon">
    <nav class="nav-links">
      <ul class="nav-ul">
        <li>
          Modo Oscuro:<input type="checkbox" (ngModelChange)="cambiarTema()">
          <a routerLink="/loginForm" routerLinkActive="active" class="nav-links-entry">Login</a>
          <a routerLink="/entradas" class="nav-links-entry">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet class="comp"></router-outlet>
