<div class="banner-container">
        <img class="banner" src="../../../assets/Badminton-banner.jpg">
</div>
<div class="card-display">
    <div class="card">
        <ul>
            <li  class="card-title">
                <h2>Historia</h2>
            </li>
            <li class="card-content">
                <p>
                    El actual juego de bádminton surgió en Asia, exactamente en la India, donde recibía el nombre de 'Poona',
                    mismo nombre que la ciudad (Pune) ubicada en el estado indio occidental del Maharashtra y lugar donde se jugaba originalmente.
                    Algunos oficiales del ejército británico observaron el juego en la India y lo llevaron a Inglaterra en 1875.
                    Allí, el duque de Beaufort se interesó en el juego, y ya que se practicaba con regularidad en su finca campestre de Gloucestershire,
                    conocida como "Badminton House", este nombre continuó asociado con el juego.
                </p>
                <p>
                    El juego se implantó en los Estados Unidos en 1890 y también fue introducido en Canadá.
                    La Asociación Nacional de Bádminton de los Estados Unidos fue creada en 1895. En esa época se unificaron las reglas.
                    El primer torneo para varones de toda Inglaterra se celebró en 1899, y el primero para damas en 1900.
                    La Asociación Canadiense de Bádminton fue fundada en 1931 y la Asociación Norteamericana de Bádminton en 1936.
                    Los primeros campeonatos norteamericanos se celebraron en 1937, en Chicago.
                </p>
                <p>
                    Después de la década de 1950, el bádminton también se a establecido en países asiáticos como China, Japón e Indonesia.
                </p>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul>
            <li  class="card-title">
                <h2>Reglas</h2>
            </li>
            <li class="card-content">
                Hay que pasar el volante (la pelota de badminton) al otro lado de la red y que este caiga al suelo para hacer punto.
                El volante se golpea con una raqueta de badminton.
                El partido se juega a 3 sets, gana quien antes gane 2 sets.
                Cada set se disputa a 21 puntos, ganando con una diferencia de 2 puntos. Sino se continuará hasta conseguir este margen. Como límite, quien llegue antes a 30 puntos gana.
                Se juega tanto individual como por parejas en un terreno de juego llamado Pista.
                Las dimensiones de la pista son 13.4 m de largo x 5.18 m de ancho para individuales y 13.4 m. de largo x 6.1 m. de ancho para partidos de dobles.
                La red se situa a una altura de 1.55 metros.
                Saca quien ha ganado el punto. Y en parejas hay rotación de saque entre los 2 componentes del equipo.
                El saque ha de realizarse por debajo de la cintura y cruzado.
                Se saca del lado izquierdo si la puntuación del sacador es impar y del lado derecho si su puntuación es par.
                También el reglamento exige cambio de lado de pista al acabar el primer y segundo set, y en el tercer set cuando un jugador llegue a los 11 puntos.
            </li>
        </ul>
    </div>
    <div class="card">
        <ul>
            <li  class="card-title">
                <h2>Jugadores</h2>
            </li>
            <li class="card-content">
                <p>
                    El partido consta de 3 sets, y se lo adjudica el jugador que consiga vencer en dos de ellos,
                    sin necesidad de disputarse el tercero si ya se han conseguido los dos primeros.
                    En cada set, los jugadores puntúan, siempre que ganen el punto que estaban disputando
                    (esto difiere del antiguo sistema, en el que sólo se puntuaba en el marcador al conseguir el punto disputado con el servicio).
                    Peter Gade, uno de los mejores jugadores del mundo.
                </p>
                <p>
                    En el saque inicial, el jugador que sirve y el que recibe deben situarse en diagonales opuestas de la zona de servicio.
                    El servidor debe golpear el volante por debajo de la cintura para que este aterrice en la zona de servicio del rival.
                    El jugador que está sirviendo no debe cometer faltas, las cuales son: golpear el volante con la raqueta sobre la cintura;
                    golpear la parte de las plumas con la raqueta antes de tocar el corcho;
                    pisar cualquiera de las líneas demarcadas en la cancha o levantar alguno de los dos pies antes de golpear el volante;
                    ubicar la parte superior de la raqueta (cordaje) hacia arriba y golpear el volante con ésta en esa posición;
                    realizar un amague de forma evidente con la raqueta, simulando un golpe al volante, lo que se denomina doble golpe.
                </p>
            </li>
        </ul>
    </div>
</div>