.banner-container{
    background-color: rgb(70, 70, 70);
}

.banner{
    width: 100%;
    filter:opacity(70%);
}

.card-display{
    color: whitesmoke;
    background-color: rgb(70, 70, 70);
    text-align: center;
}

.card{
    height: 40em;
    vertical-align: top;
    width: 20%;
    display: inline-block;
    margin: 2em;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    padding: 2em;
    background-color: rgb(32, 32, 32);
    text-align: center;
}

.card ul{
    list-style: none;
}

.card-title{
    margin-bottom: 2em;
    text-align: center;
}